/* Раздел главной страницы */
.products {
    /* position: relative; */
    /* display: flex; */
    /* margin-top: 60px; */
}

.products__list1 {
    display: flex;
    align-items: start;
    /* justify-content: space-between; */
    /* margin-left: 20px; */
    margin-top: 30px;
    padding-left: 0;
}

.products__list1-item1 {
    /* min-width: 280px; */
    /* height: 270px; */
    background-color: #DBE4DB;
    padding: 46px 18px;
    margin-right: 20px;
}

.products__item {
    position: absolute;
    align-items: center;
}

.products__list1-img1 {
    background-blend-mode: multiply;
}

.products__list1-title1 {
    margin: 57px 57px;
}

.products__list1-item2 {
    background-color: #EADDD3;
    padding: 13px 36px;
    margin-right: 20px;
}

.products__list1-img2 {
    background-blend-mode: multiply;
}

.products__list1-title2 {
    margin: 90px 27px;
}

.products__list1-item3 {
    background-color: #F8F2DA;
    padding: 0px 5px;
}

.products__list1-img3 {
    background-blend-mode: multiply;
}

.products__list1-title3 {
    margin: 119px 100px;
}

.products__list2 {
    display: flex;
    margin-left: 200px;
    /* align-items: end; */
    /* justify-content: space-between; */
    /* margin-left: 20px; */
    margin-top: 23px;
    padding-left: 0;
}

.products__list2-item4 {
    min-width: 280px;
    height: 270px;
    background-color: #D5D4E1;
    padding: 10px 20px;
    margin-right: 20px;
}

.products__list2-img4 {
    background-blend-mode: multiply;
}

.products__list2-title4 {
    margin: 109px 24px;
}

.products__list2-item5 {
    background-color: #F3D0DB;
    padding: 11px 16px;
    margin-right: 20px;
}

.products__list2-img5 {
    background-blend-mode: multiply;
}

.products__list2-title5 {
    margin: 108px 89px;
}

.products__list2-item6 {
    background-color: #E5EAF8;
    padding: 33px 4px;
}

.products__list2-img6 {
    background-blend-mode: multiply;
}

.products__list2-title6 {
    margin: 70px 58px;
}

.product__list {
    margin-top: 55px;
    margin-left: 310px;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-bottom: 25px;
    /* text-align: center; */
}

.product__text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    max-width: 680px;
    margin-bottom: 15px;
    margin-left: 310px;
}