* {
    box-sizing: border-box;
    color: #1E0606;
}

/* Удаляем маркер элементам списка */
ul {
    list-style-type: none;
}

/* Параметры названия */
h1 {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    border: none;
}

/* Общие данныестраницы ширина, отступ */
.container {
    max-width: 1180px;
    margin: 0 auto;
}

/* Общие показатели шапки */
.header {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    /* margin-right: 110px; */
    /* margin-left: 110px; */
}

/* Прозрачность при наведении */
.header > a:hover {
    opacity: .6;
}

.header__nav :hover {
    opacity: .6
}

.header__additional-list :hover {
    opacity: .6;
}

/* Прозрачность при клик */
.header > a:active {
    opacity: .3;
}

.header__nav :active {
    opacity: .3
}

.header__additional-list :active {
    opacity: .3;
}

/* Общие показатели элементов списка */
.header__nav {
    margin-right: auto;
    text-decoration: none;
}


.header__nav-list {
    display: flex;
    justify-content: space-around;  
}

/* Отступы между элементами, кроме первого */
.header__nav-item:not(:last-child) {    
    margin-right: 20.02px;
    font-weight: 400;
}

/* Убираем нижнее почеркивание */
.header__nav-item-link {
    text-decoration: none;
}

.header__additional-list {
    display: flex;
}

.header__additional-item:not(:last-child) {
    margin-right: 23.47px;
}

/* Убираем нижнее почеркивание CONTACT us */
.header__additional-link {
    text-decoration: none;
    font-weight: 700;
}
