/* THE OOH NOO COLLECTION */
.banner { 
    position: relative;
    background-color: #eee4db;
    display: flex;
    height: 411px;
    margin-top: 129px;
    /* margin: 129px 110px 0px 110px; */
    /* width: 1080; */
}

.banner__rectangle-list {
    display: flex;
    flex-direction: column;
    margin-block-start: 0%;
    padding-inline-start: 0%;
    /* padding: 3px 31px; */
    /* cursor: pointer;   */
}

.banner__rectangle-text {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    margin-top: 17px;
    margin-left: 28px;
    margin-bottom: 0px;
}

.banner__rectangle-item {
    /* margin-top: 0px; */
    display: list-item;
    text-align: left;
    cursor: pointer;
    /* margin: 10px 0 0 31px; */
    /* padding: 10px 0px 0px 31px; */
}

.banner__rectangle-btn1 {
    background: #1E0606;
    color: #1E0606;
    margin-left: 31px;     
    background: rgba(30, 6, 6, 0.6);
    border: none;
}

.banner__rectangle-btn {
    margin-left: 31px;
    color: #D6CAC2;
    border: none;
    background: #D6CAC2
}

/* Прозрачность при наведении */
.banner__rectangle-btn > a:hover {
    background: #1E0606;
    color: #1E0606;
    /* border-color: #1E0606; */
    /* background-color: transparent; */
}

.banner__name {
    margin-top: 70px;
    margin-bottom: 0%;
    padding-left: 44px;
    overflow: hidden;
    max-width: 355px ;
}

.banner__name-list {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
}

.banner__name-title {
    font-family: 'Crimson Text', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}

.banner__name-btn {
    padding: 0%;
    border: none;
    background-color: #1E0606;
    text-align: center;
    color: #FFF;
}

.banner__name-img {
    position: absolute;
    transform: translate(71%, -19%);
    /* margin: 142px 555px; */
}

.banner__name-postscript {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    background: #C29974;
    color: #FFF;
    text-align: center;
    margin-top: 372px;
    padding-top: 11px;
    text-transform: uppercase;
}

.products {
    position: relative;
    /* background-color: #eee4db; */
    /* height: 411px; */
    /* margin-top: 129px; */
}

.products__title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
    margin-top: 90px;
}

.products__list {
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-top: 30px;
}

.products__list-item1 {
    /* position: absolute; */
    background-color: #DBE4DB;
    background-image: url('../img/apparelKids.png');


}

.products__list-img {

}