* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1178px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    margin: 50px 60.05px;
    margin-left: 106px;
}

.header__logo {
    display: flex;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
    justify-content: space-around;  
}

.header__nav-item:not(:last-child) {    
    margin-right: 20.02px;
}

.nav__item {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.header__additional-list {
    display: flex;
}

.header__additional-item:not(:last-child) {
    margin-right: 23.47px;
}



