/* Раздел главной страницы */
.products {
    /* position: relative; */
    /* display: flex; */
    /* margin-top: 60px; */
}

.filter {
    display: flex;
    background: rgba(125, 151, 218, 0.2);
    /* max-width: 1400px; */
    background-size: cover;
    /* background-size: 100%;  */
    height: 254px;
    margin: 50px -110px 15px -110px;
    /* margin: auto; */
    border: none;
}

.filter__selection {
    display: block;
    padding: 0;
    border: none;
    margin-left: 110px;
}

.filter__font {
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.filter__selection-text {
    font-size: 700;
    margin-top: 42px;
    padding: 0;
    border: none;
    margin-bottom: 0;
}

.filter__selection-slider {
    /* position: relative; */
    /* margin-top: 25px; */
}

.filter__selection-volume {
    /* margin-top: 15px; */
    /* width: 188px; */
    /* height: 4px; */
}

.filter__selection-input {
    -webkit-appearance: none;
    appearance: none;
    width: 188px;
    height: 4px;
    background: #000;
    opacity: 0.5;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.filter__selection-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px; 
    height: 24px;
    border-radius: 50%;
    border: 10px;
    background: #C29974;
    cursor: pointer;
}

.filter__selection-input::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #C29974;
    cursor: pointer;
}

/* input[type=range]  { */
    /* width: 188px; */
    /* appearance: none; */
    /* background: #000; */
    /* opacity: 0.5; */
    /* outline: none; */
    /* overflow: hidden; */
    /* height: 4px; */

/* } */






.filter__color {
    /* padding: 0; */
    display: block;
    padding: 0;
    border: none;
}

.filter__color-text {
    font-size: 700;
    margin-top: 42px;
    margin-left: 94px;
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.filter__color-list {
    display: block;
    margin-top: 15px;
    margin-left: 94px;
    padding: 0;
}

.filter__color-item {
    margin-bottom: 15px;
}

.filter__color-label {
    font-size: 400;
}

.filter__choice {
    display: block;
    padding: 0;
    border: none;
}

.filter__choice-text {
    font-size: 700;
    margin-top: 42px;
    margin-left: 124px;
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.filter__choice-list {
    display: block;
    margin-top: 15px;
    margin-left: 124px;
    padding: 0;
}

.filter__choice-item {
    margin-bottom: 10px;
}

.filter__choice-item {
    font-size: 400;
}

.filter__amount {
    display: block;
    padding: 0;
    border: none;
}

.filter__amount-text {
    font-size: 700;
    margin-top: 42px;
    margin-left: 69px;
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.filter__amount-list {
    display: block;
    margin-top: 15px;
    margin-left: 69px;
    padding: 0;
}

.filter__amount-item {
    margin-bottom: 10px;
}

.filter__search {
    background: #000;
    width: 95px;
    height: 40px;
    color: #FFF;
    font-family: 700;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 79px;
    margin-left: 60px;
}

.filter__product {
    display: flex;
    border: none;
    padding: 0;
    margin-top: 45px;
    margin-bottom: 0;
}

.filter__product-item {
    margin-right: 20px;
    /* margin-bottom: 30px; */
}

.filter__product-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 15px;
    border: none;
}

.filter__product-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    border: none;
    margin: 0;
}

.filter__page {
    display: flex;
    margin-top:78px;
    text-align: center;
    border: none;
    padding: 0;
}

.filter__page-left {
    margin-right: 457px;
}

.filter__page-item {
margin-right: 66px;
}

.filter__page-right {
    margin-left: 457px;
}